USE [master]
GO
/****** Object:  Database [POS]    Script Date: 24/03/2020 20:52:46 ******/
CREATE DATABASE [POS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\POS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\POS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS]
GO
/****** Object:  Schema [POS]    Script Date: 24/03/2020 20:52:46 ******/
CREATE SCHEMA [POS]
GO
/****** Object:  Table [POS].[CLIENTE]    Script Date: 24/03/2020 20:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POS].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[NIT] [varchar](50) NULL,
	[TELEFONO] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [POS].[DETALLE_FACTURA]    Script Date: 24/03/2020 20:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POS].[DETALLE_FACTURA](
	[ID_DETALLE_FACTURA] [int] NOT NULL,
	[ID_FACTURA] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[SUBTOTAL] [decimal](12, 2) NULL,
 CONSTRAINT [PK_DETALLE_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [POS].[ENTIDAD]    Script Date: 24/03/2020 20:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POS].[ENTIDAD](
	[ID_ENTIDAD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
	[TELEFONO] [varchar](50) NULL,
 CONSTRAINT [PK_ENTIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_ENTIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [POS].[FACTURA]    Script Date: 24/03/2020 20:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POS].[FACTURA](
	[ID_FACTURA] [int] NOT NULL,
	[SERIE] [varchar](10) NULL,
	[FECHA] [date] NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[ID_SUCURSAL] [int] NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [POS].[PRODUCTO]    Script Date: 24/03/2020 20:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POS].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[PRECIO] [decimal](10, 2) NULL,
	[EXISTENCIA] [int] NULL,
	[TIPO_PRODUCTO] [int] NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [POS].[SEG_USUARIO]    Script Date: 24/03/2020 20:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POS].[SEG_USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[USUARIO] [varchar](30) NOT NULL,
	[CLAVE] [varchar](20) NOT NULL,
	[ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [POS].[SUCURSAL]    Script Date: 24/03/2020 20:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POS].[SUCURSAL](
	[ID_SUCURSAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
	[TELEFONO] [varchar](50) NULL,
	[ID_ENTIDAD] [int] NOT NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [POS].[TIPO_PRODUCTO]    Script Date: 24/03/2020 20:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [POS].[TIPO_PRODUCTO](
	[ID_TIPO_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [POS].[CLIENTE] ON 

INSERT [POS].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [NIT], [TELEFONO], [DIRECCION]) VALUES (1, N'CHRISTIAN', N'DE LA RIVA', N'92339', N'55555555', N'ZONA 9')
INSERT [POS].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [NIT], [TELEFONO], [DIRECCION]) VALUES (2, N'CHRISTOPHER', N'CROWE', N'42237', N'777788888', N'ZONA 16')
INSERT [POS].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO], [NIT], [TELEFONO], [DIRECCION]) VALUES (3, N'JOSE', N'DE LA VEGA', N'472643', N'99999345', N'ZONA 10')
SET IDENTITY_INSERT [POS].[CLIENTE] OFF
SET IDENTITY_INSERT [POS].[ENTIDAD] ON 

INSERT [POS].[ENTIDAD] ([ID_ENTIDAD], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (1, N'WALMART', N'ZONA 10', N'55667788')
INSERT [POS].[ENTIDAD] ([ID_ENTIDAD], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (2, N'LA TORRE', N'ZONA 7 MIXCO', N'23455467')
INSERT [POS].[ENTIDAD] ([ID_ENTIDAD], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (3, N'LA TORRE', N'ZONA 7 MIXCO', N'23455467')
SET IDENTITY_INSERT [POS].[ENTIDAD] OFF
SET IDENTITY_INSERT [POS].[PRODUCTO] ON 

INSERT [POS].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [EXISTENCIA], [TIPO_PRODUCTO]) VALUES (3, N'CLORO', N'DESINFECTANTE', CAST(150.00 AS Decimal(10, 2)), 5, 1)
INSERT [POS].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [EXISTENCIA], [TIPO_PRODUCTO]) VALUES (5, N'AROMA', N'DESINFECTANTE', CAST(45.00 AS Decimal(10, 2)), 3, 1)
INSERT [POS].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO], [EXISTENCIA], [TIPO_PRODUCTO]) VALUES (6, N'JABON', N'ROPA A COLOR', CAST(61.00 AS Decimal(10, 2)), 3, 1)
SET IDENTITY_INSERT [POS].[PRODUCTO] OFF
SET IDENTITY_INSERT [POS].[SEG_USUARIO] ON 

INSERT [POS].[SEG_USUARIO] ([ID_USUARIO], [NOMBRE], [USUARIO], [CLAVE], [ESTADO]) VALUES (1, N'EUNICE', N'regonzalez', N'98765432', 1)
INSERT [POS].[SEG_USUARIO] ([ID_USUARIO], [NOMBRE], [USUARIO], [CLAVE], [ESTADO]) VALUES (2, N'CHRISTIAN', N'cgarcia', N'12345', 0)
SET IDENTITY_INSERT [POS].[SEG_USUARIO] OFF
SET IDENTITY_INSERT [POS].[SUCURSAL] ON 

INSERT [POS].[SUCURSAL] ([ID_SUCURSAL], [NOMBRE], [DIRECCION], [TELEFONO], [ID_ENTIDAD]) VALUES (2, N'WALMART PROCERES', N'ZONA 10', N'23458976', 1)
INSERT [POS].[SUCURSAL] ([ID_SUCURSAL], [NOMBRE], [DIRECCION], [TELEFONO], [ID_ENTIDAD]) VALUES (3, N'LA TORRE MALL NARANJO', N'ZONA 7 MIXCO', N'22456564', 2)
INSERT [POS].[SUCURSAL] ([ID_SUCURSAL], [NOMBRE], [DIRECCION], [TELEFONO], [ID_ENTIDAD]) VALUES (4, N'LA TORRE MALL NARANJO', N'ZONA 7 MIXCO', N'22456564', 2)
SET IDENTITY_INSERT [POS].[SUCURSAL] OFF
SET IDENTITY_INSERT [POS].[TIPO_PRODUCTO] ON 

INSERT [POS].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'MAGIA BLANCA', N'LIMPIEZA')
INSERT [POS].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'GREAT VALUE', N'ALIMENTACION')
INSERT [POS].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE], [DESCRIPCION]) VALUES (4, N'CASILLERO DEL DIABLO', N'VINO')
SET IDENTITY_INSERT [POS].[TIPO_PRODUCTO] OFF
ALTER TABLE [POS].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_FACTURA] FOREIGN KEY([ID_FACTURA])
REFERENCES [POS].[FACTURA] ([ID_FACTURA])
GO
ALTER TABLE [POS].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_FACTURA]
GO
ALTER TABLE [POS].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [POS].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [POS].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTO]
GO
ALTER TABLE [POS].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [POS].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [POS].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_CLIENTE]
GO
ALTER TABLE [POS].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [POS].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [POS].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_SUCURSAL]
GO
ALTER TABLE [POS].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TIPO_PRODUCTO] FOREIGN KEY([TIPO_PRODUCTO])
REFERENCES [POS].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [POS].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_TIPO_PRODUCTO]
GO
ALTER TABLE [POS].[SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_SUCURSAL_ENTIDAD] FOREIGN KEY([ID_ENTIDAD])
REFERENCES [POS].[ENTIDAD] ([ID_ENTIDAD])
GO
ALTER TABLE [POS].[SUCURSAL] CHECK CONSTRAINT [FK_SUCURSAL_ENTIDAD]
GO
USE [master]
GO
